[Camagru]
mode = "debug"
compress = false
secret_key = "your_secret_random_key"
url = "http://localhost:8080"
origin_whitelist[] = "http://localhost:8080"

[Log]
folder = "/storage/logs/"

[MailJet]
secret_key = "your_secret_random_key"

[MySQL]
host = "mysql"
port = 3306
username = "camagrusql"
password = "password"
db = "camagru"
charset = "utf8mb4"
collation = "utf8mb4_unicode_ci"
