@tailwind base;
@tailwind components;
@tailwind utilities;

#nav {
	@apply flex-1 text-center p-4 h-auto md:h-screen relative md:sticky top-0 w-full md:w-4/12;
}

.badge {
	display: inline-block;
	padding: 4px;
	border-radius: 50%;
	font-size: 16px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	line-height: 10px;
	user-select: none;
}

.badge.warning {
	@apply border border-yellow-700 bg-yellow-500 text-yellow-700;
}

.badge.success {
	@apply border border-green-700 bg-green-500 text-green-700;
}

#user {
	@apply mb-2;
}

#manage {
	@apply flex flex-col flex-wrap items-center;
}

#manage button {
	@apply mb-2;
	max-width: 80%;
	width: 20rem;
}

#manage button:last-of-type {
	@apply mb-0;
}

button {
	@apply transition rounded-md border p-1 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
	min-width: 5rem;
}

button.primary {
	@apply bg-blue-500 text-white border-blue-800 hover:bg-blue-700;
}

button.success {
	@apply bg-green-500 text-white border-green-800 hover:bg-green-700;
}

button.error {
	@apply bg-red-500 text-white border-red-800 hover:bg-red-700;
}

button.secondary {
	@apply bg-gray-500 text-white border-gray-800 hover:bg-gray-700;
}

#content {
	@apply flex-grow flex-shrink-0 p-4 w-full md:w-8/12;
}

.header {
	@apply sticky z-20 top-0 py-2 text-2xl bg-gray-100 text-gray-800 border-b border-gray-800  dark:bg-gray-600 dark:text-gray-100 dark:border-gray-100;
}

.card {
	@apply transition transform shadow-md rounded cursor-pointer z-10 hover:shadow-lg hover:scale-125;
}

.card:hover {
	z-index: 10;
}

.card img {
	@apply rounded;
}

form {
	@apply mt-2;
}

form .footer {
	@apply flex flex-row-reverse flex-nowrap justify-between;
}

label {
	@apply cursor-pointer mb-1;
}

input {
	@apply transition cursor-pointer mb-2 rounded border border-gray-600 p-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent;
}

.like {
	@apply transition text-pink-400;
	fill: none;
}

.like.active {
	fill: rgb(244, 114, 182); /* pink-400 */
}

.like:hover {
	fill: rgba(244, 114, 182, 0.5); /* pink-400 */
}

.comment {
	@apply rounded-md border border-gray-200 mt-2 overflow-hidden;
}

.comment p {
	@apply p-2 bg-gray-100 dark:bg-gray-500;
}

.comment .footer {
	@apply p-1 italic bg-gray-300 text-gray-700 border-t dark:bg-gray-700 dark:text-gray-300;
}
